Django==6.0.6
asgiref==3.11.1
mysqlclient==2.2.8
celery==5.6.3
django-celery-beat==2.9.0
redis==8.0.1
kombu==5.6.2
amqp==5.3.1
billiard==4.2.4
vine==5.1.0
openpyxl==3.1.5
reportlab==4.4.10
arabic-reshaper==3.0.0
python-bidi==0.6.7
weasyprint==65.1
pillow==12.1.1
python-dateutil==2.9.0.post0
pytz==2026.1.post1
tzdata==2026.2
sqlparse==0.5.5
python-dotenv==1.0.1
